.Title {
  margin: 0;
  font-size: 1.7em !important;
  line-height: 1.3;
  padding: 0 0 15px 0;
  color: #2EADD3 !important;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.CatchPhrase {
  font-size: 1.3em !important;
  color: black;
}


.ObjectPropertiesTable {
  width: 100%;
}

.ObjectPropertiesTable:first-child tr td:first-child { width:35%; }

.ObjectPropertiesTable tr td{
  padding: 5px;
  margin: 5px;
}

.WideModal {
  width: 90%;
}
