.Map {
  width: 100%;
  height: 150px;
  cursor: pointer;
}
.Title {
  margin: 0;
  font-size: 1.7em !important;
  line-height: 1.3;
  padding: 0 0 15px 0;
  color: #2EADD3 !important;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.CatchPhrase {
  font-size: 1.3em !important;
  color: black;
}


.ObjectPropertiesTable {
  width: 100%;
}

.ObjectPropertiesTable:first-child tr td:first-child { width:35%; }

.ObjectPropertiesTable tr td{
  padding: 5px;
  margin: 5px;
}

.WideModal {
  width: 90%;
}

.Logo {
  position: absolute;
  width: 70px;
  right: 35px;
  top: -20px;
  z-index: 999;
}

.Jumbo {
  background-color: #fff;
  border: 1px solid gainsboro;
}

.CloseButton {
  cursor: pointer;
  position: absolute;
  right: 25px;
  top: 10px;
}


.Label {
  position: absolute;
  left: 225px;
  font-size: 5em;
  font-weight: bold;
}

.InlineLink {
  cursor: pointer;
  color: #2EADD3;
}
